/* Write your global styles here, in PostCSS syntax */
@import 'src/lib/css/additional-styles/utility-patterns.css';
@import 'src/lib/css/additional-styles/range-slider.css';
@import 'src/lib/css/additional-styles/toggle-switch.css';
@import 'src/lib/css/additional-styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
